<!DOCTYPE html>
<html>
<head>
    <title><%= data.appName %></title>
    <% if (options.extJS5) { %>
    <link rel="stylesheet" href="https://extjs.cachefly.net/ext/beta/ext-5.0.0.736/packages/ext-theme-crisp/build/resources/ext-theme-crisp-all.css"/>
    <script src="https://extjs.cachefly.net/ext/beta/ext-5.0.0.736/build/ext-all.js"></script>
    <script src="https://extjs.cachefly.net/ext/beta/ext-5.0.0.736/packages/ext-theme-crisp/build/ext-theme-crisp.js"></script>
    <% } else { %>
    <link rel="stylesheet" href="http://cdn.sencha.io/ext-4.2.0-gpl/resources/css/ext-all.css"/>
    <script src="http://cdn.sencha.io/ext-4.2.0-gpl/ext-all.js"></script>
    <% } %>
    <!--build:css all.css-->
    <link rel="stylesheet" href="css/all.css"/>
    <!--endbuild-->
    <script>
        //Load user locale
        (function(window, Ext){
            var locale = window.navigator.language,
                defaultLang = 'en',
                languages = ['locale/' + defaultLang + '.js'],
                dashIndex = locale.indexOf('-');

            if (~dashIndex){
                locale = locale.slice(0, dashIndex);
            }

            if (defaultLang != locale){
                languages.push('locale/' + locale + '.js');
            }

            //<% if (options.extJS5) { %>
            Ext.Loader.loadScriptsSync(languages);
            //<% } else { %>
            Ext.Array.forEach(languages, function(val){
                Ext.Loader.loadScriptFile(val, Ext.emptyFn, Ext.emptyFn, null, true);
            });
            //<% } %>
        })(window, Ext);
    </script>
    <script src="app.js"></script>
</head>
<body>

</body>
</html>